<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Employees</title>
  <style>
    .status-work { color:#d32f2f; font-weight:bold; } /* 未出勤 */
    .status-in   { color:#f9a825; font-weight:bold; } /* 出勤中 */
    .status-out  { color:#388e3c; font-weight:bold; } /* 退勤済 */
    table { border-collapse: collapse; width: 100%; }
    th, td { border: 1px solid #ccc; padding: 8px; }
    th { background: #f2f2f2; }
  </style>
</head>
<body>
    
    <p>
  <a th:href="@{/ui/employees/new}" style="margin-right:16px;">＋ 新規作成</a>

  <a th:href="@{/}">← ダッシュボード</a>

  <form method="get" th:action="@{/ui/employees}"
      style="margin-bottom:12px; display:flex; gap:8px;">

  <input type="text"
         name="keyword"
         placeholder="社員名で検索"
         th:value="${keyword}"
         style="padding:6px; width:200px;" />

  <button type="submit">検索</button>

  <a th:if="${keyword != null}"
     th:href="@{/ui/employees}"
     style="align-self:center;">クリア</a>
</form>
<form method="get" th:action="@{/ui/employees}"
      style="display:flex; gap:10px; margin-bottom:12px; flex-wrap:wrap;">
      
  <select name="department">
    <option value="">全ての部署</option>
    <option th:each="d : ${departments}"
            th:value="${d}"
            th:text="${d}"
            th:selected="${d == department}">
    </option>
  </select>


  <select name="status">
    <option value="">全ての状態</option>
    <option value="IN" th:selected="${status == 'IN'}">出勤中</option>
    <option value="OUT" th:selected="${status == 'OUT'}">退勤済</option>
    <option value="NONE" th:selected="${status == 'NONE'}">未出勤</option>
  </select>

  <button type="submit">絞り込み</button>

  <a th:href="@{/ui/employees}">クリア</a>
</form>


</p>
<div th:if="${errorMessage}" style="color:red; margin-bottom:10px;"
     th:text="${errorMessage}">
</div>
<h1>社員一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>今日の状態</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="e : ${employees}">
      <td th:text="${e.id}"></td>
      <td><a th:href="@{'/ui/employees/' + ${e.id}}" th:text="${e.name}"></a></td>
      <td th:text="${e.email}"></td>
      <td th:text="${e.department}"></td>
      <td th:text="${todayStatusLabel[e.id]}"
        th:class="${todayStatusClass[e.id]}">
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>
